@font-face{
  font-family: AprovaSans;
  src: url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.woff2) format("woff2"),
    url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.woff) format("woff"),
    url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.otf) format("opentype"),
    url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.ttf) format("truetype");
    font-style:normal
}

@font-face{
  font-family: AprovaSans-Black;
  src: url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.woff2) format("woff2"),
    url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.woff) format("woff"),
    url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.otf) format("opentype"),
    url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.ttf) format("truetype");
    font-style:normal
}


* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: AprovaSans;
}

.header {
  height: 860px;
  background-color: #00e88f;
}

.header-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.logo {
  margin-top: 20px;
  position: absolute;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  flex: 1;
}

.login {
  color: #2a2a2a;
  margin: 20px;
}

.signin {
  color: #2a2a2a;
  margin: 20px;
}

.menu {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title-text {
  font-family: AprovaSans-Black;
  font-size: 60px;
  width: 700px;
  text-align: center;
}

.subtitle {
  display: flex;
  justify-content: center;
  font-weight: normal;
}
.chevron {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.display {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}

.desktop, .mobile {
  align-self: center;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1100px) {
  .mobile {
    display: none;
  }
}

.slogan {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.slogan-text {
  font-size: 50px;
  text-align: center;
}

.qualities {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.qualities-card {
  min-width: 300px;
}

.qualities-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.qualities .qualities-text {
  width: 250px;
  color: #a5a5a5;
  /* border: solid 1px blue; */
}

@media (max-width: 900px) {
  .qualities {
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .qualities .qualities-text {
    width: auto;
  }

  .qualities-card {
    max-width: 400px;
    margin-bottom: 50px;
  }

  .qualities-icon {
    margin-bottom: 10px;
  }

  .slogan-text {
    font-size: 50px;
    width: 500px;
    text-align: left;
  }

  .actions {
    display: none;
  }
  .menu {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex: 1;
  }
}
